#novo
{
	width: 30px;
	height: 30px;
	padding: 5px;
	text-align: center;
	margin: 30px 0px 0px 10px;
	float: left;
}

.tabLista
{
	border-right: 1px solid #bbb;
	border-top: 1px solid #bbb;
	margin: 0px 0px 0px 60px;
}

.tabLista tr th,
.tabLista tr td
{
	border-left: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
}

.tabLista tr th
{
	padding: 5px 5px 5px 5px;
	background-color: #eee;
}
.tabLista tr td
{
	padding: 5px;
}

.tabLista .tdListaMenu
{
	cursor: pointer;
}

.divMenuLista
{
	/*background-color: #E1EBF7;*/
	height: 100px;
	width: 200px;
	display: none;
	position: absolute;
	margin: -20px 0px 0px 0px;
	text-align: left;
}
