.menu
{
	background-color: #eee;
	z-index: 1001;
}

.menu a
{
	display: block;
	padding: 0px 10px 0px 10px;
}

.menu a:hover
{
	color: #fff;
	background-color: #333;
}

.menu ul
{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.menu ul li
{
	display: inline-block;
	padding: 0px;
	margin: 0px;
	height: 30px;
	line-height: 30px;
	padding: 5px 10px 5px 10px;
}

.menu ul li:hover ul.col2
{
	display: block;
}

.menu ul li ul
{
	position: absolute;
	background-color: #eee;
	display: none;
	width: 210px;
	padding: 0px;
	margin: 0px;
	border: 1px solid #bbb;
}

.menu ul li ul li
{
	display: block;
	padding: 0px;
}

.menu ul li ul li ul
{
	margin: -31px 0px 0px 210px;
}

.menu .col3
{
	
}

.menu ul li ul li:hover ul.col3
{
	display: block;
}
